.bg-alineum {
    background-color: #63666A;
}

.vertical-line {
    width: 1px;
    /* Line width */
    background-color: #63666A;
    /* Line color */
    height: 100%;
    /* Override in-line if you want specific height. */
    float: left;
}

.vertical-line-dark {
    width: 1px;
    /* Line width */
    background-color: #63666A;
    /* Line color */
    height: 100%;
    /* Override in-line if you want specific height. */
    float: left;
    opacity: 0.1;
}

.border-transparent {
    border-color: transparent;
}

.option-color {
    background-color: #63666A;
    color: white;
    border-color: transparent;
}

.search-nav {
    background-color: transparent;
    border-color: #63666A;
    border-style: solid none solid solid;
}

.search-nav::placeholder {
    color: #63666A;
}

.search-nav:focus {
    background-color: transparent;
    border-color: #63666A;
    border-style: solid none solid solid;
    color: #63666A;
}

.btn-search-nav {
    background-color: transparent;
    border-color: #63666A;
    border-style: solid solid solid none;
    color: #63666A;
}

.btn-negro {
    background-color: #63666A;
    color: white;
}

.btn-negro:hover {
    background-color: #EF8A06!important;
    color: white !important;
}

.btn-negro-option {
    color: #63666A;
    border: transparent;
    background-color: transparent;
}

.btn-negro-option:hover {
    color: #EF8A06!important;
}

.btn-reaccion {
    color: #63666A;
    border: transparent;
    background-color: transparent;
}

.btn-reaccion:hover {
    color: #EF8A06!important;
}

.btn-reaccion-delete {
    color: #EF8A06!important;
    border: transparent;
    background-color: transparent;
}

.btn-reaccion-delete:hover {
    color: #63666A !important;
}

.color-disabled {
    color: grey;
}

.bg-gris {
    background-color: #63666A;
}

.decoracion-hr {
    height: 0px;
    border: none;
    border-top: 5px solid #EF8A06;
}


/*----------------- F O O T E R  ----------------- */

.footer {
    border-top: solid #63666A 3px;
}

.logo-footer {
    width: 13%;
}

.contenedor {
    display: flex;
    justify-content: center;
}

.iconos-footer {
    color: #EF8A06;
}

.iconos-footer:hover {
    color: #d07909;
    transition: color 0.7s;
}

.decoracion-footer {
    background-color: #EF8A06;
    height: 2px;
    width: 20%;
}


/*<------------ PERSPECTIVAS -------------->*/

.text-mayus {
    text-transform: uppercase;
}

.estilo-hr {
    border: 3px solid #EF8A06;
    color: #EF8A06;
    height: 0px;
    text-align: center;
}

.sombra-img {
    border-radius: 8px;
    box-shadow: 8px 8px 8px 1px #63666A;
}

.img-estilo {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.text-shadow {
    border-color: #63666A;
    -webkit-text-stroke: 0.1rem #63666A;
    text-shadow: 2px 2px 1px #63666A;
}

.text-orange {
    color: #EF8A06;
}

a {
    text-decoration: none;
}

.li {
    list-style: none;
}

.border-body {
    border-radius: 30px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.border-tittle {
    border-radius: 30px 30px 0 0;
}

.profile-card-2 .card-img-block {
    float: left;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.profile-card-2 .card-body {
    position: relative;
}

.profile-card-2 .profile {
    border-radius: 50%;
    position: absolute;
    top: -42px;
    left: 15%;
    max-width: 75px;
    border: 3px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.profile-card-2 .profile-exito {
    border-radius: 50%;
    position: absolute;
    top: -42px;
    left: 50%;
    max-width: 75px;
    border: 3px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.profile-card-2 h5 {
    font-weight: 600;
    color: #EF8A06;
}

.profile-card-2 .card-text {
    font-weight: 300;
    font-size: 15px;
}

.profile-card-2 .icon-block {
    float: left;
    width: 100%;
}

.profile-card-2 .icon-block a {
    text-decoration: none;
}

.profile-card-2 i {
    display: inline-block;
    font-size: 16px;
    color: #6ab04c;
    text-align: center;
    border: 1px solid #6ab04c;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 0 5px;
}

.profile-card-2 i:hover {
    background-color: #6ab04c;
    color: #fff;
}

.footer-blog {
    padding: 10px 20px;
}

.border-30px {
    border-radius: 30px;
}

.linea {
    background-color: #ff9204;
    height: 3px;
    width: 0%;
    transition: width 0.3s;
}

a:hover .linea {
    color: #ff9204;
    width: 100%;
    transition: width 0.2s;
}

.a-nav:hover {
    color: #d07909;
    transition: width 0.2s;
}


/* ------- REDES SOCIALES - BOTON FLOTANTE ---------- */

.btn-flotante-twitter {
    color: #ffffff;
    /* Color del texto */
    border-radius: 50%;
    /* Borde del boton */
    background-color: #63666a;
    /* Color de fondo */
    padding: 25px;
    /* Relleno del boton */
    position: fixed;
    top: 30%;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.btn-flotante-twitter:hover {
    color: #ffffff;
    background-color: #ff9204;
    /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
    .btn-flotante-twitter {
        display: none;
    }
}


/* ------------------------------------------------- */

.btn-flotante-instagram {
    color: #ffffff;
    /* Color del texto */
    border-radius: 50%;
    /* Borde del boton */
    background-color: #63666a;
    /* Color de fondo */
    padding: 25px;
    /* Relleno del boton */
    position: fixed;
    top: 45%;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.btn-flotante-instagram:hover {
    color: #ffffff;
    background-color: #ff9204;
    /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px #63666a(0, 0, 0, 0.3);
    transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
    .btn-flotante-instagram {
        display: none;
    }
}


/* ------------------------------------------------- */

.btn-flotante-linkedin {
    color: #ffffff;
    /* Color del texto */
    border-radius: 50%;
    /* Borde del boton */
    background-color: #63666a;
    /* Color de fondo */
    padding: 25px;
    /* Relleno del boton */
    position: fixed;
    top: 60%;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.btn-flotante-linkedin:hover {
    color: #ffffff;
    background-color: #ff9204;
    /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
    .btn-flotante-linkedin {
        display: none;
    }
}

.fs-9 {
    font-size: 90px;
}

.img-inicio {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

.img-informacion {
    clip-path: polygon(20% 0%, 100% 0, 75% 100%, 0% 100%);
}

.engrane {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

@keyframes engraneArriba {
    0% {
        transform: rotate(360deg);
        transition: transform 5s;
    }
}

@keyframes engraneAbajo {
    0% {
        transform: rotate(-360deg);
        transition: transform 5s;
    }
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.text-gris {
    color: #63666a;
}

.image-circle {
    border-radius: 150px;
    border: 5px solid white;
}

.image-profile {
    width: 150px;
    position: absolute;
    bottom: -120px;
}

.ms-10 {
    margin-left: 10rem;
}

.position-relative {
    position: relative
}

.borde-engrane-derecha {
    padding: 5%;
    border: 30px solid #5fec9c;
    border-left: 30px solid transparent;
    border-bottom: transparent;
    border-radius: 0% 10% 10% 10% / 50% 50% 0% 0%;
}

.borde-engrane-izquierda {
    padding: 5%;
    border: 30px solid #5fec9c;
    border-right: 30px solid transparent;
    border-radius: 10% 0% 0% 10% / 50% 50% 50% 50%;
}

.borde-engrane-izquierda-medio {
    padding: 5%;
    border: 30px solid #5fec9c;
    border-right: 30px solid transparent;
    border-bottom: transparent;
    border-radius: 10% 0% 0% 10% / 50% 50% 50% 0%;
}

.casos-exito-slick {
    padding: 5%;
}

.contenedor-tarjeta-slick {
    margin: auto;
    box-sizing: border-box;
}

.wrapper {
    width: 450px;
    height: 500px;
    background: transparent;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    transform: scale(0.93);
    transition: box-shadow 0.5s, transform 0.5s;
    z-index: 1000;
}

.wrapper:hover {
    transform: scale(1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.107);
}

.wrapper .containerr {
    width: 100%;
    height: 100%;
}

.wrapper .containerr .top {
    height: 80%;
    width: 100%;
    background-size: 100%;
}

.img-insightes-slick {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.img-difuminado {
    filter: blur(3px) opacity(0.4);
}

ul.ks-cboxtags {
    list-style: none;
}

ul.ks-cboxtags li {
    display: inline;
}

ul.ks-cboxtags li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 25px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label {
    border: 2px solid #1e1e1f;
    background-color: #434344;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus+label {
    border: 2px solid #1e1e1f;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.fondo-img {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.img-usuario {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.nombre-perfil {
    color: rgb(102, 102, 102) !important;
}

.contenedor-perfil {
    max-width: 1250px;
    margin: 30px auto 30px;
    padding: 0 !important;
    width: 100%;
    background-color: #fff;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10); */
}

.header-perfil {
    background: #eee;
    background-image: url("https://image.noelshack.com/fichiers/2017/38/2/1505775648-annapurnafocus.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #777;
    height: 250px;
}

.header-perfil i {
    position: relative;
    cursor: pointer;
    right: -96%;
    top: 25px;
    font-size: 18px !important;
    color: #fff;
}

@media (max-width:800px) {
    .header-perfil {
        height: 150px;
    }
    .header-perfil i {
        right: -90%;
    }
}

.main-perfil {
    padding: 20px 20px 0px 20px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.photo-perfil {
    width: 200px;
    height: 200px;
    margin-top: -120px;
    border-radius: 100px;
    border: 4px solid #fff;
}

.descripcion-perfil {
    text-align: center;
    margin-top: 25px;
    margin: 25px 40px;
    color: #999;
    font-size: 11pt;
    padding-bottom: 25px;
    border-bottom: 1px solid #ededed;
}

.social {
    margin: 5px 0 12px 0;
    text-align: center;
    display: inline-block;
    font-size: 20pt;
}

.icon-perfil {
    color: #777;
}

.right {
    padding: 0 25px 0 25px !important;
}

.nav-perfil {
    display: inline-flex;
}

.nav-perfil li {
    margin: 40px 30px 0 10px;
    cursor: pointer;
    font-size: 13pt;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #888;
}

.nav-perfil li:hover,
.nav-perfil li:nth-child(1) {
    color: #999;
    border-bottom: 2px solid #999;
}

@media (max-width:990px) {
    .nav-perfil {
        display: none;
    }
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.contenedor-slider .slide {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    cursor: pointer;
}

.contenedor-slider .slide img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor-slider .slide .contenido-slider {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: inherit;
    text-align: center;
}

.contenedor-slider .slide:hover>.contenido-slider {
    opacity: 1;
    visibility: visible;
}

.contenedor-slider .slide:hover>img {
    /* -webkit-filter: blur(5px);
    filter: blur(5px); */
    filter: grayscale(0%);
    transform: scale(1.2);
}

.contenedor-slider .slide:hover>.contenido-slider .h3-slider {
    margin-top: 10%;
    margin-bottom: 10px;
}


/* */

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 35px;
    width: 35px;
    border-style: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color: white;
}

.input-search::placeholder {
    color: white;
    font-size: 16px;
}

.btn-search {
    width: 35px;
    height: 35px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #000000;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:hover {
    color: #d07909;
}

.btn-search:focus~.input-search {
    width: 200px;
    border-radius: 0px;
    border: #fff solid;
    background-color: transparent;
    border-bottom: 1px solid white;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 200px;
    border-radius: 0px;
    border: #fff solid;
    background-color: transparent;
    border-bottom: 1px solid white;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.text-naranja {
    color: #EF8A06;
}


/*----------------*/

header.masthead-inicio {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("https://images.hdqwalls.com/wallpapers/picture-frames.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("https://cdn.pixabay.com/photo/2015/01/08/18/26/man-593333_1280.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.masthead .masthead-heading {
    font-size: 3.25rem;
    font-weight: 500;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 17rem;
        padding-bottom: 12.5rem;
    }
    header.masthead .masthead-heading {
        font-size: 4.5rem;
        font-weight: 500;
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }
}

.fondo-titulo {
    background-color: #1e1e1f48;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.577);
}

.info-servicio {
    font-size: 30px;
    font-weight: 200;
}

.img-info {
    width: 100%;
    box-shadow: 40px 40px #000000;
}

.img-info2 {
    width: 80%;
    box-shadow: 40px 40px #000000;
}


/*----------------------------------------*/

.wrapper2 {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #ffffff;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ffffff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}


/*--------------------------------------------------------------*/

.btn-config {
    background-color: transparent;
    border: 1px solid gray;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.bg-info-inicio {
    background-color: #2d2d2e7b;
    backdrop-filter: blur(10px);
}

.fs-7 {
    font-size: 70px;
}

.fs-10 {
    font-size: 100px;
}

.fs-12 {
    font-size: 120px;
}

.bg-titulo-clientes {
    background: white;
}

.ft-titulo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-clientes {
    border-radius: 50%;
}

.img-clientes-inicio {
    border-radius: 50%;
    height: 500px;
    width: 500px;
    object-fit: cover !important;
}

.bg-info-clientes {
    background: #63666A;
}

.col-procesos {
    transition: all 0.3s;
}

.col-procesos:hover {
    transform: scale(1.04) !important;
}

.col-procesos:hover .card-img {
    -webkit-filter: blur(3px);
}

.login {
    min-height: 100vh;
}

.bg-image {
    background-image: url('https://cdn.pixabay.com/photo/2020/07/08/04/12/work-5382501_1280.jpg');
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.col-perfil {
    height: 500px;
}

.navbar-toggler {
    color: white;
    border-color: white;
}

.text-alineum {
    color: #63666A;
}

.btn-flotante-articulos {
    color: #ffffff;
    /* Color del texto */
    border-radius: 50%;
    /* Borde del boton */
    background-color: #63666a;
    /* Color de fondo */
    padding: 25px;
    /* Relleno del boton */
    position: fixed;
    top: 85%;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 98;
}

.btn-flotante-articulos:hover {
    color: #ffffff;
    background-color: #ff9204;
    /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px #63666a(0, 0, 0, 0.3);
    transform: translateY(-7px);
}

.btn-inicio-google{
    background-color: #63666A;
    padding: 20px;
    border-radius: 100%;
    color: white;
    transition: all 0.2s;
}
.btn-inicio-google:hover{
    background-color: #ee3450;
    border-radius: 100%;
    color: white;
}

.btn-inicio-linkedIn{
    background-color: #63666A;
    padding: 20px;
    border-radius: 100%;
    color: white;
    transition: all 0.2s;
}
.btn-inicio-linkedIn:hover{
    background-color: #2f7fe1;
    border-radius: 100%;
    color: white;
}
.btn-inicio-twitter{
    background-color: #63666A;
    padding: 20px;
    border-radius: 100%;
    color: white;
    transition: all 0.2s;
}
.btn-inicio-twitter:hover{
    background-color: #62d2f7;
    border-radius: 100%;
    color: white;
}

.img-cliente{
    border-radius: 100%;
    height: 180px;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    transition: all 0.2s;
}

.col-cliente{
    transition: all 0.2s;
    border: 1px solid #747474;
    border-radius: 15px;
}
.ver-mas{
    color: #63666A;
    transition: all 0.2s;
}

.col-cliente:hover{
    transform: scale(1.1);
}
.col-cliente:hover .img-cliente{
    -webkit-filter: grayscale(0%);
}
.col-cliente:hover .ver-mas{
   color: #e89325;
}

.col-insights{
    height: 340px;
    border-radius: 20px;
    transition: all 0.3s
}

.col-insights-grande{
    border-radius: 20px;
}


@media only screen and (max-width: 991px) {
   .col-insights{
       height: 200px;
   }
   .text-card-insights{
       font-size: 15px;
   }
   
}
@media only screen and (max-width: 767px) {
    .col-insights{
        height: 150px;
    }
    .btn-flotante-articulos{
        padding: 15px !important;
        font-size: 12px !important;
        right: 2%;
    }
    .text-card-insights{
        font-size: 10px;
    }
 }

.card-insights{
    height: 100% !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-radius: 20px;
    transition: all 0.4s;
}

.text-card-insights{
    opacity: 0;
    transition: all 0.4s;
}

.col-insights:hover .text-card-insights{
    opacity: 1;
}
.col-insights:hover .card-insights{
    transform: scale(1.03);
}
.col-insights-grande:hover .text-card-insights{
    opacity: 1;
}
.col-insights-grande:hover .card-insights{
    transform: scale(1.03);
}

.bg-youtube{
    background-color: rgb(15, 15, 15);
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0 100%);
}
.video-yt{
    border: 1px solid silver;
    border-radius: 15px;
}